@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);

  /* Brand colors */
  --color-dark-900: var(--dark-900);
  --color-dark-700: var(--dark-700);
  --color-dark-500: var(--dark-500);
  --color-dark-400: var(--dark-400);
  --color-purple-600: var(--purple-600);
  --color-purple-100: var(--purple-100);
  --color-green-500: var(--green-500);
  --color-green-400: var(--green-400);
  --color-green-300: var(--green-300);
  --color-red-500: var(--red-500);
  --color-yellow-500: var(--yellow-500);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);

  /* Brand colors */
  --dark-900: #000510;
  --dark-700: #0f1316;
  --dark-500: #1a2027;
  --dark-400: #1e2833;

  --purple-600: #1b254b;
  --purple-100: #a3aed0;

  --green-500: #76da44;
  --green-400: #2ebe7b;
  --green-300: #99e39e;

  --red-500: #ff685f;
  --yellow-500: #dabe44;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .home-grid {
    @apply grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 gap-6 items-start lg:items-center;
  }

  .main-container {
    @apply py-6 md:py-12 mx-auto px-4 sm:px-6 max-w-360 w-full;
  }

  header {
    @apply border-b border-dark-400 h-full;

    .inner {
      @apply flex justify-between h-full items-center;

      nav {
        @apply flex items-center h-full;

        .nav-link {
          @apply px-6 py-5 flex items-center transition-all hover:text-white font-medium h-full text-purple-100 cursor-pointer;
        }
        .nav-link.is-home {
          @apply max-sm:hidden;
        }
        .nav-link.is-active {
          @apply text-white;
        }
      }
    }
  }

  #coin-overview {
    @apply bg-dark-500 rounded-xl w-full h-full p-2 xl:col-span-2;

    .header {
      @apply flex gap-2 md:gap-3 py-2;

      .info {
        @apply flex flex-col;

        p {
          @apply flex text-purple-100 text-xs md:text-sm;
        }

        h1 {
          @apply font-semibold text-xl md:text-2xl;
        }
      }
    }
  }
  #trending-coins {
    @apply w-full flex flex-col justify-center h-full py-4 bg-dark-500 rounded-xl;

    h4 {
      @apply text-xl font-semibold md:text-2xl px-5;
    }

    .trending-coins-table {
      @apply bg-dark-500 overflow-hidden;

      .name-cell {
        @apply font-medium;

        a {
          @apply pl-1 md:pl-2 py-1 md:py-2 xl:py-1 flex items-center gap-2 md:gap-3;

          img {
            @apply rounded-full size-8 md:size-9;
          }

          p {
            @apply text-sm md:text-base;
          }
        }
      }
      .price-change {
        @apply flex gap-1 items-center text-sm font-medium;
      }
      .price-cell {
        @apply font-medium  text-sm;
      }
      .change-cell {
        @apply font-medium py-4 pr-3 md:pr-5;
      }
    }
  }

  #categories {
    @apply w-full h-full bg-dark-500 py-4 rounded-xl;

    h4 {
      @apply text-xl md:text-2xl font-semibold px-5;
    }
    .category-cell {
      @apply font-bold;
    }
    .top-gainers-cell {
      @apply flex flex-row gap-1 mr-5;
    }
    .market-cap-cell {
      @apply font-medium;
    }
    .volume-cell {
      @apply font-medium;
    }
    .change-header-cell {
      @apply font-medium;
    }
    .change-cell {
      @apply flex flex-1 gap-1 items-center  text-center font-medium;
    }
  }

  .skeleton {
    @apply bg-dark-400 rounded;
  }

  #candlestick-chart {
    @apply p-3 rounded-lg bg-dark-500 h-full w-full flex flex-col gap-4;

    .chart-header {
      @apply flex flex-col gap-3 xl:flex-row xl:items-center xl:justify-between font-semibold text-[#e6eef8] text-[20px];
    }

    .button-group {
      @apply flex gap-1 xl:gap-2 items-center;
    }

    .config-button {
      @apply rounded-sm border-0 cursor-pointer px-2.5 py-2 text-xs xl:text-sm text-purple-100 hover:bg-dark-400 hover:text-white;
    }

    .config-button-active {
      @apply rounded-sm px-2.5 py-1.5 border-0 cursor-pointer text-sm text-gray-900 bg-green-500;
    }

    .chart {
      @apply w-full flex-grow rounded-lg relative min-h-0 overflow-hidden;
    }
  }
  #coins-page {
    @apply py-12 mx-auto px-4 sm:px-6 max-w-360 size-full items-center gap-10 justify-center;

    .content {
      @apply flex flex-col space-y-5 w-full;
    }

    h4 {
      @apply text-2xl;
    }

    .coins-table {
      @apply bg-dark-500 rounded-xl overflow-hidden max-h-fit;

      .rank-cell {
        @apply font-medium text-purple-100 max-w-20!;
        a {
          @apply absolute inset-0 z-10;
        }
      }
      .price-cell {
        @apply font-medium;
      }
      .market-cap-cell {
        @apply font-medium;
      }
      .change-cell {
        @apply font-medium;
      }
      .change-value {
        @apply flex gap-1 items-center font-medium;
      }
      .token-cell {
        @apply font-semibold;

        .token-info {
          @apply flex items-center gap-3;

          p {
            @apply max-w-full truncate;
          }
        }
      }
    }
  }
  #coins-pagination {
    .pagination-content {
      @apply flex w-full;
    }

    .pagination-control {
      @apply bg-dark-400 rounded-sm ;

      &.prev {
        @apply pr-2;
      }

      &.next {
        @apply pl-2;
      }
    }

    .control-button {
      @apply cursor-pointer;
    }

    .control-disabled {
      @apply pointer-events-none opacity-50;
    }
    .pagination-pages {
      @apply flex flex-1 justify-center gap-2;

      .page-link {
        @apply hover:bg-dark-400! rounded-sm text-base cursor-pointer;
      }

      .page-link-active {
        @apply bg-green-500! text-dark-900 font-semibold;
      }
    }
  }
}

@keyframes pulse {
  50% {
    opacity: 0.5;
  }
}

.animate-pulse {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #1e2833;
  border-radius: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #171a34;
}

/* Table Custom Scrollbar */
.custom-scrollbar [data-slot="table-container"] {
  overflow-y: auto;
}

.custom-scrollbar [data-slot="table-container"]::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

.custom-scrollbar [data-slot="table-container"]::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar [data-slot="table-container"]::-webkit-scrollbar-thumb {
  background: #1e2833;
  border-radius: 8px;
}

.custom-scrollbar [data-slot="table-container"]::-webkit-scrollbar-thumb:hover {
  background: #171a34;
}
